.jumbotron {
  text-align: center;
  margin-top: 50px;
  padding: 2rem 0;
}
.navbar-name {
  font-size: 3rem;
  vertical-align: middle;
}

.upper {
  text-transform: capitalize;;
}

.btn {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.btn-success {
  width:15%;
margin-left: 5em;
}

ul {
  padding-left: 0;
  li {
    list-style: none;
  }
}

h1{
  text-align:center;
}

p{
  background-color: azure;
  width: 25%;
  border:1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  &:hover {
    color: darkgrey;
    background-color: navy;
    box-shadow: 0 0 15px black;
  }
  text-decoration: underline;
}
