<ul>
  {{#each model as |committee|}}
    <button class="btn btn-primary
    " {{action 'subcommitteeLookup' committee.committee_id }}>
      <li><span class="upper">{{committee.chamber}}</span>:
      {{committee.name}}</li>
    </button>
    <hr>
  {{/each}}
</ul>
